.rverbio-button.rverbio-button__feedback {
    position: fixed;
    right: 0;
    top: 66%;
    transform: rotate(-90deg);
    margin-right: -36px;
    background-color: #008cba;
    color: white;
}

.rverbio-button.rverbio-button__feedback:active {
  background-color: #006687;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: rotate(-90deg) translateY(0);
  }
  40% {
    transform: rotate(-90deg) translateY(-10px);
  }
	60% {
    transform: rotate(-90deg) translateY(-5px);
  }
}

.rverbio-button.rverbio-button__feedback.loading {
  animation: 1s bounce infinite;
}

